
#mobile-menu {padding: 0.25em;}

/* End General Styling */

#mobile-menu {overflow: hidden;}
#mobile-menu ul {font-size: 0;}
#mobile-menu li {font-size: 13px; display: inline-block; float: right; vertical-align: top; padding-left: 10%;
}

#mobile-menu-toggler {display: none; float: right; text-decoration: none; cursor: pointer; font-size: 12px; font-weight: bold; color: #2633b4 !important; height: 2em !important;}
#mobile-menu-toggler span.mobile-menu-icon::before, #mobile-menu-toggler span.mobile-menu-icon::after, #mobile-menu-toggler span.mobile-menu-icon {display: inline-block; width: 15px; height: 2px; background: black !important;}
#mobile-menu #mobile-menu-toggler span.mobile-menu-icon,
#mobile-menu #mobile-menu-toggler span.mobile-menu-icon::before,
#mobile-menu #mobile-menu-toggler span.mobile-menu-icon::after {
  -webkit-transition: all 0.15s ease-in-out!important;
  -moz-transition: all 0.15s ease-in-out!important;
  -o-transition: all 0.15s ease-in-out!important;
  transition: all 0.15s ease-in-out!important;
}
#mobile-menu-toggler span.mobile-menu-icon {margin-left: 5px; position: relative; bottom: 4px;}
#mobile-menu-toggler span.mobile-menu-icon::before, #mobile-menu-toggler span.mobile-menu-icon::after {content: ""; vertical-align: middle; position: absolute;}
#mobile-menu-toggler span.mobile-menu-icon::before {margin-top: -4px;}
#mobile-menu-toggler span.mobile-menu-icon::after {margin-top: 4px;}

#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon {background: transparent!important;}
#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::before {margin-top: 0px;}
#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::after {margin-top: 0px;}
#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::before {
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
}
#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::after {
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
}
#mobile-menu span.mobile-menu-text.open {display: none;}
#mobile-menu.open span.mobile-menu-text {display: none;}
#mobile-menu.open span.mobile-menu-text.open {display: initial;}

.navbar-header {float: left!important;}

@media screen and (max-width: 767px) {
        #mobile-menu-toggler {display: block;}
        #mobile-menu ul {clear: left; display: none;}
        #mobile-menu.open ul {display: block;}
        #mobile-menu li {display: block;}
}


*{box-sizing: border-box}

body {
    overflow-x: hidden;
	  font-size: 14px;
}


#wrapper {

    max-width: 80%; /* or whatever max size */

    margin: 0 auto; /* center content on large screens */

    padding: 20px; /* content shouldn't touch device edges */

}

@-ms-viewport{
  {width: device-Width;}
}

.container{
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.headshot{
margin-top: -6em;
    width: 75%;
}

.about-content {
    max-width: 33em;
    margin: auto;
}

.anlogo {
	margin-bottom: 10px;
	    width: 142px;
	    float: left;
	    display: flex;
	    padding: .1rem;
	    margin: 1rem;
	    width: 70.58px;
	    height: 60px;
	    padding-top: 5px;
}

ul.navmenu {
	padding-top: 20px;
	    width: 100vw;
	    vertical-align: top;
	    margin-right: 1em;
	    float: right;
	    padding-left: 0;
	    margin-top: .75em;
      display: block;
}

.navitem {
display: block;
color: black;
margin-right: -.1em;
font-family: 'Droid Sans', sans-serif;
text-decoration: none;
font-size: 18px;
text-align: right;
letter-spacing: 0.15em;
padding: 0;
}

a.navlink {
    display: inline;
    text-decoration: none;
    color:#0c0b65
}

main {
  width: 100%;
  display: block;
}

article .home{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

section.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
  margin: 50px auto;
  margin-bottom: 10em;
}

section.content2 {
  position: relative;
display: flex;
justify-content: space-between;
max-width: 100%;
margin: 50px auto;
}

section.content div {
	flex: 1;
	width: 50%;
}

.home{
width: 1439.5px;
height: 557.5px;
left: 1px;
right: 99px;
top: 616px;
}

h1 {
	margin-left: .05em;
    text-align: left;
    font-weight: 600;
    font-size: 1.75em;
    line-height: 140%;
    padding-top: .75em;
    font-family: 'Dosis', sans-serif;
    color: #0C0B65;
}

.right{
  flex-basis: 1;
}

h2.project-head-right{
	 font-size: 2.5em;
  font-family: 'Droid Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 56px;
  color: #000000;
	margin-right: 0;
}

h2.project-head-left{
  font-family: 'Droid Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
    font-size: 2.5em;
  line-height: 56px;
  color: #000000;
}

p.project-description-right{
	font-family: 'Dosis', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 140%;
	color: #000000;
	padding-bottom: 20px;
	padding: 0;
	margin-top: .25em;
	margin-bottom: 1.5em;
	font-size: 1.35em;
}


.left{
  flex-basis: 0 0 1;
}



p.project-description-left{
	font-family: 'Dosis', sans-serif;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 36px;
	    line-height: 140%;
	    color: #000000;
	    padding-bottom: 20px;
	    padding: 0;
	    margin-top: .25em;
	    margin-bottom: 1.5em;
	    font-size: 1.35em;
}

.CTA{
	font-weight: 700;
	font-size: .88em;
	background: #FBD3DB;
	color: black;
	padding: 12px 16px;
	border-radius: 46px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	line-height: 27px;
	align-items: center;
	text-align: center;
	text-decoration: none;
}

.CTA.alt{
	font-weight: 700;
	font-size: .88em;
	padding: 12px 16px;
	border-radius: 46px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	line-height: 27px;
	align-items: center;
	text-align: center;
	background: #B3D8E6;
	text-decoration: none;
}

.project1image{
position: absolute;
width: 628.88px;
height: 441px;
left: 772px;
top: 1333px;
}


.social ul li i{
  font-size: 40px;
}

.social ul li {
display: inline-block;
margin: 10px 50px;
}

.social ul {
  width: 70%;
  margin: auto;
}

.cs-container-title{
  margin: 5em auto 3em;
    padding-top: 2em;
    max-width: 100%;
    padding-left: 3em;
    padding-right: 3em
}

.cs-top-image{
max-width: 100%;
	height: auto;
	    margin: 0 auto;
    padding-bottom: .5em;
  }

.cs-title{
	margin-bottom: .5em;
    text-align: center;
margin-top: .25em;
font-size: 36px;
font-weight: 400;
letter-spacing: normal;
line-height: 1.25em;
font-family: 'Dosis', sans-serif;
font-style: normal;
    padding-top: 30px;
}

.case-hero-text {
    margin: 2em;
    text-align: center;
    font-size: 1.75em;
    font-weight: 500;
    align-items: center;
		font-family: 'Montserrat', sans-serif;
}

.cs1-project-hierarchy{
	padding-right: 10px;
	    align-items: center;
	    font-family: 'Dosis', sans-serif;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 32px;
	    line-height: 46px;
	    color: #000000;
	    text-align: center;
	    margin: 1rem;
	}

.cs-container-summary {
    width: 100%;
}

.cs-container {
    margin: 3em auto;
    max-width: 50em;
    padding-left: 3em;
    padding-right: 3em;
}

.cs-summary {
	width: 100%;
	    background-color: #B3D8E6;
	    display: inline-block;
	    padding-left: 10%;
	    padding-right: 5%;
}

.cs-head1 {
	font-weight: bold;
	margin-top: .5em;
margin-bottom: .5em;
    font-family: 'Droid Sans', sans-serif;
}

.cs-head {
	font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1.25em;
		font-family: 'Droid Sans', sans-serif;
}

.cs-text {
	font-size: 1em;
	    margin-top: 0;
	    margin-bottom: 1.2em;
	    font-family: 'Montserrat', sans-serif;
	    font-style: normal;
	    font-weight: normal;
	    line-height: 140%;
}

.survey-result-img{
	margin-bottom: 1.5em;
	margin-right: 5em;
	padding-left: 2em;
	line-height: 1.5em;
	font-weight: 400;
	float: right;
	width: 60%;
}


.cs-section-head {
	font-size: 24px;
	font-weight: bold;
	    margin-top: .5em;
	    color: #000;
	    padding-bottom: 2em;
	    margin-bottom: .1em;
	    padding-top: 30px;
	    font-family: 'Droid Sans', sans-serif;
}

h2 {
	font-family: 'Droid-sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.cs-specs-head1 {
    color: #000;
    line-height: 1.5em;
    margin-top: 1.75em;
    margin-bottom: .25em;
		font-family: 'Dosis', sans-serif;
}

.cs-specs2 {
    width: 100%;
}

.cs-specs-text {
	padding-top: .5px;
	    color: #000;
	    font-size: 1em;
	    line-height: 140%;
	    font-family: 'Montserrat', sans-serif;
	    margin-bottom: 1em;
}

.specs-list1 {
    list-style: none;
}

.specs-list2 {
    list-style: none;
}

.cs-specs-all {
	width: 90%;
	display: inline-block;
	background-color: #FBD3DB;
	padding-left: 5%;
	padding-right: 20%;
	padding-bottom: 1em;
	box-sizing: border-box;
}

.cs-specs1 {
    width: 100%;
}

.cs-button {

  border-radius: 30px;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 27px;
	display: inline-block;
  align-items: center;
  text-align: center;
  color: #000000;
  background-color: #79CEC7;
	    box-shadow: 0px 4px 4px #00000040;
			text-decoration: none;
}

a:hover{
  color: #843386;
font-weight: bolder;
}

.button:hover {
	color: #2633B4;
}

.CTA:hover{
	color: #2633B4;
}

.cs-button:hover {
  color: #2633B4;
  font-weight: 900;
}

.competitors {
    display: inline-block;
		    margin-top: 2em;
}

.competitive-logo{
display: inline-block;
width: 10%;
padding: .25em .5em;
}

.ca-images {
	  padding: .25em .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}

.cs-text-left{
	line-height: 140%;
padding-right: 40%;
padding-left: 10em;
margin-left: 0;
margin-bottom: 1.5em;
vertical-align: top;
margin-top: 0;
width: 80%;
font-family: 'Montserrat', sans-serif;
width: 120%;
}

.cs-prebullet-text {
font-size: 1em;
line-height: 1.5em;
margin-top: 0;
margin-bottom: .5em;
font-family: 'Montserrat', sans-serif;
}

.cs-head2 {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1.25em;
    font-family: 'Droid Sans', sans-serif;
}

.cs-list {
  text-align: center;
margin-bottom: 2em;
padding-left: 5em;
}

.cs-text-list {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: .5em;
    padding-left: .25em;
    padding-right: 40%;
    font-family: 'Montserrat', sans-serif;
}

.cs-category {
    display: inline-block;
}

.cs-bb-visualdesign {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
    display: block;
}

.cs-el-visualdesign {
max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
    display: block;
}

.edulife-moodboard-img{
  max-width: 100%;
}

.poppins-img{
  max-width: 100%;
}

.roboto-img{
  max-width: 100%;
}

.user-flow-img{
  max-width: 100%;
    background-image: url(../edulifeuserflow.png);
    background-size: cover;
    min-height: 10em;
    background-repeat: no-repeat;
    padding: 0;
    margin-top: 4em;
}

.sitemap-img{
  max-width: 100%;
}

.colorpalette-img{
  max-width: 100%;
}

.logo-design-img{
  width: 530px;
}

.cs-persona-text{
    float: left;
    padding-right: 15%;
    padding-left: 2em;
    margin-left: 0;
    margin-bottom: 1.5em;
    vertical-align: top;
    margin-top: 0;
    width: 100%;
   font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

.cs-persona-pic {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  width: 15%;
}

.homepage-1{
max-width: 100%;
}

.create-acct-1{
  max-width: 100%;
}

.share-work-draft{
max-width: 100%;
}
/* make all images responsive */
img {
    height: auto;
		margin: 0 auto;
display: block;
}

.competitive-logo {
    display: inline-block;
    width: 20%;
    padding: .25em .5em;
}

footer.footer-main {
	margin-bottom: 30px;
	position: relative;
	bottom: -.5em;
}

li.footer-social {
    margin: .25em 1em 0em;
    float: left;
    display: block;
}

ul.footer-info {
margin-top: 10px;
float: right;
margin: .1em .1em .1em;
}

p.footer-text {
	display: inline-block;
	font-size: 1em;
	margin-top: .5em;
	margin-left: 1em;
	text-align: left;
	font-family: 'Dosis', sans-serif;
}

  p {
    font-size: 1em;
    line-height: 1.5em;
}

.space-top1 {
    padding-top: 1em;
}

.astral {
	color: #0C0B65;
padding-bottom: .5em;
margin-bottom: 0;
margin-top: 10px;
}

.about-text {
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 0;
    font-family: 'Droid Sans', sans-serif;
}

.about-text-bottom {
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 0;
    font-family: 'Droid Sans', sans-serif;
}

.about-button-position {
    max-width: 33em;
    margin: -.5em auto 0;
    padding-top: 28px;
    padding-bottom: 15px;
		text-decoration: none;
}

.about-button {
    border: none;
    padding: 11px 14px;
    font-size: .88em;
    background-color: #7FE6F8;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-top: -2em;
    font-family: 'Montserrat', sans-serif;
		text-decoration: none;
  }

  .about-top {
    background-color: #ffffff;
    padding-top: 10em;
    width: 100%;
    height: 10%;
    vertical-align: top;
}

.about-background {
    background-color: #edf4f547;
    width: 100%;
}

.fab {
    font-family: "Font Awesome 5 Brands";
		color: black;
		width: 30px;
		font-size: 30px;
    width: 50px !important;
    color: black;
	}

	.far {
		font-size: 30px;
    width: 10px !important;
    font-weight: 400;
		color: black;
	}

.survey-results {
  width: 325px;
margin-bottom: 1em;
margin-top: 2em;
}

.main-container-about {
    margin: 5em auto 10em;
}

anchor a {
    position: absolute;
    left: 0rem;
    top: -6rem;
	}

	.anchor {
    position: relative;
}

.overview h3 {
    font-size: 1.5rem;
}

.overview div {
    width: 16.3rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
	}

	.overview {
		flex-direction: row;
    justify-content: center;
    text-align: center;
}

.problem, .solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    background: #FBD3DB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
	}

	.page-divider {
    border-bottom: 1px solid #ddd;
	}

	.hello {
		margin: 0 18% 15%;
    padding-top: 20%;
	}

	.cs-container-summary a {
    margin: 0 auto;
    display: table;
}
}


@media only screen and (max-width: 1024px) and (min-width: 767px){

    ul.footer-info {
      margin-right: 3em;
		  font-size: 11px;
		}
  }

@media only screen and (min-width: 375px) and (max-width: 500px){

  .navitem {
    width: 100%;
    display: block;
    color: black;
    margin-right: -.1em;
    font-family: 'Droid Sans', sans-serif;
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0.15em;
    padding: 5px;
}

  a.navlink {
    display: block;
    text-decoration: none;
    color: #0c0b65;
}

	ul.footer-info{
	    width: 29%;;
	    font-size: 11px;
	}

	.project2-image{
	max-width: 100%;
	padding-left: 11px;
	}

	.project1-image{
		max-width: 100%;
    margin-left: 1em;
    padding-right: 15px;
	}

  section.content div{
      margin-top: 4em;
      padding-top: 10px;
      margin-left: 15em;
      margin-right: 9em;
      width: 50%;
      flex: 1;
   }

	p.footer-text {
	width: 43%;
	font-size: .7em;
	}

	.fab{
		font-size: 18px;
	}

	.far{
		font-size: 18px;
	}

.anlogo{
	width: 50px;
    height: 40px;
}

.cs-persona-text{
	font-size: 12px;
	margin-right: 5em;
}

.user-flows-image2{
  width: 100%;
}
}


	@media only screen and (max-width: 767px) {

    #mobile-menu-toggler {display: block;}
     }

    body {
        overflow: hidden!important;
    }

    .fab {
        font-family: "Font Awesome 5 Brands";
    		color: black;
    		font-size: 14px;
      width: auto !important;
        color: black;
    	}

    	.far {
    		font-size: 14px;
      width: auto !important;
        font-weight: 400;
    		color: black;
    	}

    .project2-text{
      width: 50%;
    }

    section.content2 div{
      flex: none;
      margin: 10px auto;
    }

		section.content div {
					flex: none;
          margin: 10px auto;
			}

			p.footer-text {
				width: 46%;
			}

			section.content {
        max-width: 100%;
        margin: 0 auto;
				display: flex;
        flex-direction: column-reverse;
			}

      section.content2 {
        max-width: 100%;
        margin-left: 0 auto;
        justify-content: space-around;
        flex-direction: column-reverse;
        display: flex;
      }

		    .project2-image{
		max-width: 100%;
		}

		  .project1-image{
			max-width: 100%;
		}
  }
