

*, *:before, *:after {
  box-sizing: border-box;
}

#mobile-menu {padding: 0.25em;}

/* End General Styling */

#mobile-menu {overflow: hidden;}
#mobile-menu ul {font-size: 0;}
#mobile-menu li {font-size: 13px; display: inline-block; float: right; vertical-align: top; padding-left: 10%;
}

#mobile-menu-toggler {display: none; float: right; text-decoration: none; cursor: pointer; font-size: 12px; font-weight: bold; color: #2633b4 !important; height: 2em !important;}
#mobile-menu-toggler span.mobile-menu-icon::before, #mobile-menu-toggler span.mobile-menu-icon::after, #mobile-menu-toggler span.mobile-menu-icon {display: inline-block; width: 15px; height: 2px; background: black !important;}
#mobile-menu #mobile-menu-toggler span.mobile-menu-icon,
#mobile-menu #mobile-menu-toggler span.mobile-menu-icon::before,
#mobile-menu #mobile-menu-toggler span.mobile-menu-icon::after {
  -webkit-transition: all 0.15s ease-in-out!important;
  -moz-transition: all 0.15s ease-in-out!important;
  -o-transition: all 0.15s ease-in-out!important;
  transition: all 0.15s ease-in-out!important;
}
#mobile-menu-toggler span.mobile-menu-icon {margin-left: 5px; position: relative; bottom: 4px;}
#mobile-menu-toggler span.mobile-menu-icon::before, #mobile-menu-toggler span.mobile-menu-icon::after {content: ""; vertical-align: middle; position: absolute;}
#mobile-menu-toggler span.mobile-menu-icon::before {margin-top: -4px;}
#mobile-menu-toggler span.mobile-menu-icon::after {margin-top: 4px;}

#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon {background: transparent!important;}
#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::before {margin-top: 0px;}
#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::after {margin-top: 0px;}
#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::before {
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
}
#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::after {
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
}
#mobile-menu span.mobile-menu-text.open {display: none;}
#mobile-menu.open span.mobile-menu-text {display: none;}
#mobile-menu.open span.mobile-menu-text.open {display: initial;}

.navbar-header {float: left!important;}

@media screen and (max-width: 767px) {
        #mobile-menu-toggler {display: block;}
        #mobile-menu ul {clear: left; display: none;}
        #mobile-menu.open ul {display: block;}
        #mobile-menu li {display: block;}
}

body {
    overflow-x: hidden;
	  font-size: 14px;
}

#wrapper {

    max-width: 80%; /* or whatever max size */

    margin: 0 auto; /* center content on large screens */

    padding: 20px; /* content shouldn't touch device edges */

}


.container{
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.headshot{
margin-top: -6em;
    width: 75%;
}

.about-content {
    max-width: 33em;
    margin: auto;
}

.anlogo {
	margin-bottom: 10px;
	    width: 142px;
	    float: left;
	    display: flex;
	    padding: .1rem;
	    margin: 1rem;
	    width: 70.58px;
	    height: 60px;
	    padding-top: 5px;
}

ul.navmenu {
	padding-top: 20px;
	    width: 100vw;
	    vertical-align: top;
	    margin-right: 1em;
	    float: right;
	    padding-left: 0;
	    margin-top: .75em;
      display: block;
}

.navitem {
display: block;
color: black;
margin-right: -.1em;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
font-size: 18px;
text-align: right;
letter-spacing: 0.15em;
padding: 0;
}

a.navlink {
    display: inline;
    text-decoration: none;
    color:#0c0b65
}

main {
  width: 100%;
  display: block;
}

article .home{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

section.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
  margin: 50px auto;
  margin-bottom: 10em;
}

section.content2 {
  position: relative;
display: flex;
justify-content: space-between;
max-width: 100%;
margin: 50px auto;
}

section.content div {
	flex: 1;
	width: 50%;
}

.home{
width: 1439.5px;
height: 557.5px;
left: 1px;
right: 99px;
top: 616px;
}

h1 {
  color: #2e2f31;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .06rem;
  line-height: normal;
  padding: 2rem 0 .5rem 0;
  border-bottom: .4rem solid blueviolet;
  text-align: center;
}

.right{
  flex-basis: 1;
}

.colors {
    display: grid;
    grid-gap: 5rem;
    padding: 2rem;
    justify-content: center;
}

.colors img {
    margin: auto;
    width: 100%;
}

.edulife-design {
    display: grid;
    grid-template-rows: 1fr .5fr 1fr .5fr 1fr;
    align-items: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.edulife-design img {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr .5fr 1fr;
    align-content: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.three-grid img {
    max-width: 100%;
}

.three-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    margin: auto;
    padding: 3rem;
}

p.project-description-right{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 140%;
	color: #000000;
	padding-bottom: 20px;
	padding: 0;
	margin-top: .25em;
	margin-bottom: 1.5em;
	font-size: 1.35em;
}


.left{
  flex-basis: 0 0 1;
}

p.project-description-left{
	font-family: 'Montserrat', sans-serif;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 36px;
	    line-height: 140%;
	    color: #000000;
	    padding-bottom: 20px;
	    padding: 0;
	    margin-top: .25em;
	    margin-bottom: 1.5em;
	    font-size: 1.35em;
}

.underline {
    text-decoration: underline;
}

.section-less-padding {
    display: grid;
    max-width: 80rem;
    margin: auto;
    /* justify-content: center; */
}

.CTA{
	font-weight: 700;
	font-size: .88em;
	background: #7FE6F8;
	color: black;
	padding: 11px 14px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	line-height: 27px;
	align-items: center;
	text-align: center;
	text-decoration: none;
}

.project1image{
position: absolute;
width: 628.88px;
height: 441px;
left: 772px;
top: 1333px;
}


.social ul li i{
  font-size: 40px;
}

.social ul li {
display: inline-block;
margin: 10px 50px;
}

.social ul {
  width: 70%;
  margin: auto;
}

.colorbox {
    padding: 5%;
}

.before-after-with-arrow {
    display: grid;
    align-items: center;
    margin: auto;
    text-align: center;
    max-width: 120rem;
    padding: 2rem;
}

.cs-container-title{
  margin: 5em auto 3em;
    padding-top: 2em;
    max-width: 100%;
    padding-left: 3em;
    padding-right: 3em
}

.cs-top-image{
max-width: 100%;
	height: auto;
	    margin: 0 auto;
    padding-bottom: .5em;
  }

.cs-title{
	margin-bottom: .5em;
    text-align: center;
margin-top: .25em;
font-size: 36px;
font-weight: 400;
letter-spacing: normal;
line-height: 1.25em;
font-family: 'Montserrat', sans-serif;
font-style: normal;
    padding-top: 30px;
}

.case-hero-text {
    margin: 2em;
    text-align: center;
    font-size: 1.75em;
    font-weight: 500;
    align-items: center;
		font-family: 'Montserrat', sans-serif;
}

.cs1-project-hierarchy{
	padding-right: 10px;
	    align-items: center;
	    font-family: 'Montserrat', sans-serif;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 32px;
	    line-height: 46px;
	    color: #000000;
	    text-align: center;
	    margin: 1rem;
	}

.cs-container-summary {
    width: 100%;
}

.titles {
    display: block;
    color: #800080;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    margin-top: 10rem;
}

.cs-summary {
	width: 100%;
	    background-color: #B3D8E6;
	    display: inline-block;
	    padding-left: 10%;
	    padding-right: 5%;
}

.section-wide {
    max-width: 120rem;
    margin: auto;
    align-items: center;
    padding: 2em;
}

h3 {
    color: #000080;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .08rem;
}

h4 {
    color: #800080;
    padding-bottom: 1.1rem;
    letter-spacing: .7rem;
}

h2, h3, h4 {
  /*max-width: 300px;*/
  margin: 0 0 0 0;
}

h2 {
    color: black;
    font-family: 'PT Serif', serif;
}

.emp {
    font-size: 2.5rem;
}
.red {
    color: #E76155;
}


.design-role-title {
    font-weight: 500;
    color: #000080;
    padding-bottom: 0;
}



#body {
    margin: 0 1.5rem;
}

/* Buttons
___________________________________ */

.about-button-position {
    max-width: 33em;
    margin: -.5em auto 0;
    padding-top: 28px;
    padding-bottom: 15px;
		text-decoration: none;
}

.about-button-position {
    max-width: 33em;
    margin: -.5em auto 0;
    padding-top: 28px;
    padding-bottom: 15px;
		text-decoration: none;
}

.about-button {
    border: none;
    padding: 11px 14px;
    font-size: .88em;
    background-color: #7FE6F8;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-top: -2em;
    font-family: 'Montserrat', sans-serif;
		text-decoration: none;
  }

.about-button {
    border: none;
    padding: 11px 14px;
    font-size: .88em;
    background-color: #7FE6F8;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-top: -2em;
    font-family: 'Montserrat', sans-serif;
		text-decoration: none;
  }

  .center-btns {
      text-align: center;
      padding-bottom: 6rem;
      padding-top: 2rem;
  }

  a {
      text-decoration: none;
  }

  .button {
      margin: auto;
  }

  .button {
    display: block;
    align-items: center;
    cursor: pointer;
    max-width: 32.5rem;
    color: #FFF;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    background-color: transparent;
    color: purple;
    margin-top:3rem;
    border: 0.2rem solid purple;
    border-radius: 3rem;
    transition: .7s ease-in-out;
    font-family: 'nunito', sans-serif;
    letter-spacing: .08rem;

  }

a:hover{
  color: #843386;
font-weight: bolder;
}

.button:hover {
  color: #FFF;
  background-color: purple;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}


.competitors {
    display: inline-block;
		    margin-top: 2em;
}

.competitive-logo{
display: inline-block;
width: 10%;
padding: .25em .5em;
}

.competitive-analysis {
    display: grid;
    grid-gap: 3rem;
    padding: 2rem;
    margin: auto;
}

.cs-prebullet-text {
font-size: 1em;
line-height: 1.5em;
margin-top: 0;
margin-bottom: .5em;
font-family: 'Montserrat', sans-serif;
}

.cs-head2 {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1.25em;
    font-family: 'Montserrat', sans-serif;
}

.cs-list {
  text-align: center;
margin-bottom: 2em;
padding-left: 5em;
}


p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: .02rem;
    padding: 1.5rem 0 1rem 0;
}

.cs-bb-visualdesign {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
    display: block;
}

.cs-el-visualdesign {
max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
    display: block;
}

.edulife-moodboard-img{
  max-width: 100%;
}

.sub-header {
    font-weight: 400;
    color: purple;
    padding: 4rem 0 0 0;
    text-transform: uppercase;
    text-align: center;
}

.bgcolor {
    background-color: #D9F6F1;
}

.aligncenter {
    text-align: center;
}

.user-flow-img{
  max-width: 100%;
    background-image: url(../edulifeuserflow.png);
    background-size: cover;
    min-height: 10em;
    background-repeat: no-repeat;
    padding: 0;
    margin-top: 4em;
}

.sitemap-img{
  max-width: 100%;
}

.colorpalette-img{
  max-width: 100%;
}

.logo-design-img{
  width: 530px;
}

.marginbottomsmall{
    margin-bottom: 20px;
}

.nude2-background{
    width: 100%;
    background-color: #D9F6F1;
    margin: auto;
    margin-top: 5rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px rgba(222, 222, 223, 1);
}

.homepage-1{
max-width: 100%;
}

.create-acct-1{
  max-width: 100%;
}

.share-work-draft{
max-width: 100%;
}

/* make all images responsive */
img {
max-width: 100%;
height: auto;
margin: 0 auto;
}

.competitive-logo {
    display: inline-block;
    width: 20%;
    padding: .25em .5em;
}

footer.footer-main {
	margin-bottom: 30px;
	position: relative;
	bottom: -.5em;
}

li.footer-social {
    margin: .25em 1em 0em;
    float: left;
    display: block;
}

ul.footer-info {
margin-top: 10px;
float: right;
margin: .1em .1em .1em;
}

p.footer-text {
	display: inline-block;
	font-size: 1em;
	margin-top: .5em;
	margin-left: 1em;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
}

ol, ul {
    list-style: none;
}

ul.listspace li {
    margin-bottom: 10px;
}

hr {
    border-top: 1px solid red;
}

.red {
    color: #E76155;
}

  p {
    font-size: 1em;
    line-height: 1.5em;
}

.section-personas {
    /**display: grid;**/
    /**grid-template-columns: 1fr 1fr;**/
    max-width: 120rem;
    margin: auto;
    /**grid-gap: 3rem;**/
}

#persona-name {
    font-weight: 600;
    padding-bottom: 1rem;
}

.persona-section {
    padding-bottom: 5rem;
    padding-top: 3em;
}

.grid-columns-2 {
    padding: 2rem;
}

.bold {
    color: black;
    font-weight: 600;
    padding-right: .5rem;
}

.persona-titles {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

#jared {
    padding: 2rem;
    background-color: var(--nude);
    box-shadow: 0px 0px 5px 0px rgba(222, 222, 223, 1);
    border-radius: 1rem;
}

#charlotte {
    padding: 2rem;
    background-color: var(--nude);
    box-shadow: 0px 0px 5px 0px rgba(222, 222, 223, 1);
    border-radius: 1rem;
}

#body ul {
    list-style-type: disc;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

ul, ol {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    max-width: 90rem;
    letter-spacing: .06rem;
    list-style-position: outside;
    padding-top: .5rem;
}

.space-top1 {
    padding-top: 1em;
}

.astral {
	color: #0C0B65;
padding-bottom: .5em;
margin-bottom: 0;
margin-top: 10px;
}

.about-text {
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

.about-text-bottom {
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

.about-button-position {
    max-width: 33em;
    margin: -.5em auto 0;
    padding-top: 28px;
    padding-bottom: 15px;
		text-decoration: none;
}

.about-button {
    border: none;
    padding: 11px 14px;
    font-size: .88em;
    background-color: #7FE6F8;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin-top: -2em;
    font-family: 'Montserrat', sans-serif;
		text-decoration: none;
  }

  .about-top {
    background-color: #ffffff;
    padding-top: 10em;
    width: 100%;
    height: 10%;
    vertical-align: top;
}

.about-background {
    background-color: #edf4f547;
    width: 100%;
}

.fab {
    font-family: "Font Awesome 5 Brands";
		color: black;
		width: 30px;
		font-size: 30px;
    width: 50px !important;
    color: black;
	}

	.far {
		font-size: 30px;
    width: 10px !important;
    font-weight: 400;
		color: black;
	}

.survey-results {
  width: 325px;
margin-bottom: 1em;
margin-top: 2em;
}

.main-container-about {
    margin: 5em auto 10em;
}

anchor a {
    position: absolute;
    left: 0rem;
    top: -6rem;
	}

	.anchor {
    position: relative;
}


.section {
    padding-top: 8rem;
    max-width: 80rem;
    margin: auto;
}

	.page-divider {
    border-bottom: 1px solid #ddd;
	}

	.hello {
		margin: 0 18% 15%;
    padding-top: 20%;
	}

	.cs-container-summary a {
    margin: 0 auto;
    display: table;
}

/*MEDIA screens
_____________________________*/

@media screen and (min-width: 991px){
.marginbottomsmall {
    margin-bottom: 50px;
}

.marginbottom {
    margin-bottom: 100px;
}

.margintopsmall {
    margin-top: 60px;
}
}

@media screen and (min-width: 851px){
.competitive-analysis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.before-after-with-arrow-justify {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

.before-after-with-arrow {
    display: grid;
    grid-template-columns: 1fr .1fr 1fr;
}

.grid-columns-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: auto;
}

.dashboard2 img {
    width: 100%;
}

#arrow-right {
    display: block;
}

#arrow-down {
    display: none;
}

.edulife-design {
    display: grid;
    grid-template-rows: 1fr .5fr 1fr .5fr 1fr;
    margin: auto;
}
}

@media screen and (min-width: 575px){
.storyandfeature {
    width: 45%;
    display: inline-block;
    vertical-align: text-top;
}

.roleandtools {
    float: right;
    text-align: center;
}

.psrt {
    width: 48%;
    display: inline-block;
    margin: 1%;
}

.marginforproblem {
    margin-bottom: 80px;
}

.colorbox {
    padding: 3%;
}

.featuresonly {
    float: right;
}
}

@media screen and (max-width: 896px){
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 4rem;
    line-height: 5rem;
  }

h3 {
    font-size: 2.1rem;
}

h3 {
    line-height: 1.4;
}

.button, .contact-button {
  font-size: 1.8rem;
}

.button, .contact-button {
    padding: 1.5rem 0;
  }

  .sub-header {
    font-size: 2rem;
  }

  .design-role-title {
    font-size: 2.1rem;
  }

  .persona-titles, .persona-titles-bold {
    font-size: 2rem;
  }

  .quote p {
    line-height: 3rem;
    font-size: 2rem;
  }

#persona-name {
    font-size: 2.4rem;
}

.persona-titles, .quote, .persona-titles-bold p {
    font-size: 1.6rem;
}

.sub-header {
    font-size: 2rem;
}

.design-role-title {
    font-size: 2.1rem;
}

p, ul, ol, .img-caption {
    line-height: 3rem;
}
}


@media only screen and (max-width: 1024px) and (min-width: 767px){
    ul.footer-info {
      margin-right: 3em;
		  font-size: 11px;
		}
  }


@media only screen and (min-width: 375px) and (max-width: 500px){
  .alignleftformobile {
    text-align: center;
}

  .navitem {
    width: 100%;
    display: block;
    color: black;
    margin-right: -.1em;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0.15em;
    padding: 5px;
}

  a.navlink {
    display: block;
    text-decoration: none;
    color: #0c0b65;
}

	ul.footer-info{
	    width: 29%;;
	    font-size: 11px;
	}

	.project2-image{
	max-width: 100%;
	padding-left: 11px;
	}

	.project1-image{
		max-width: 100%;
    margin-left: 1em;
    padding-right: 15px;
	}

  section.content div{
      margin-top: 4em;
      padding-top: 10px;
      margin-left: 15em;
      margin-right: 9em;
      width: 50%;
      flex: 1;
   }

	p.footer-text {
	width: 43%;
	font-size: .7em;
	}

	.fab{
		font-size: 18px;
	}

	.far{
		font-size: 18px;
	}

.anlogo{
	width: 50px;
    height: 40px;
}

.user-flows-image2{
  width: 100%;
}
}



@media screen and (max-width: 850px) {
.section-personas {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0rem;
}

.three-grid {
    display: grid;
    grid-template-columns: 1fr;
}
}

@media screen and (max-width:895px){
  .sub-header, .design-role-title {
    font-size: 1.8rem;
  }

  p, ul, ol, .button, .contact-button {
     font-size: 1.8rem;
   }

   .button, .contact-button {
        font-size: 1.7rem;
  }

  .button, .contact-button {
    padding: 1.5rem 0;
  }

  h2 {
    font-size: 3.3rem;
    line-height: 4.25rem;
  }

  h3 {
     font-size: 1.88rem;
   }

   h3 {
      line-height: 1.4;
    }

    h4 {
   font-size: 4.3rem;
   line-height: 1.5rem;
   padding-bottom: .7rem;
 }

 p, ul, ol, .img-caption {
   line-height: 2.4rem;
 }

  .persona-titles, .quote, .persona-titles-bold p {
    font-size: 1.6rem;
  }

  .colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}



@media screen and (max-width: 909px){
.nude2-background {
    margin-right: 2rem;
    margin-left: 2rem;
}
}

	@media only screen and (max-width: 767px){

    #mobile-menu-toggler {display: block;}
     }

    body {
        overflow: hidden!important;
    }

    .fab {
        font-family: "Font Awesome 5 Brands";
    		color: black;
    		font-size: 14px;
      width: auto !important;
        color: black;
    	}

    	.far {
    		font-size: 14px;
      width: auto !important;
        font-weight: 400;
    		color: black;
    	}

    .project2-text{
      width: 50%;
    }

    section.content2 div{
      flex: none;
      margin: 10px auto;
    }

		section.content div {
					flex: none;
          margin: 10px auto;
			}

			p.footer-text {
				width: 46%;
			}

			section.content {
        max-width: 100%;
        margin: 0 auto;
				display: flex;
        flex-direction: column-reverse;
			}

      section.content2 {
        max-width: 100%;
        margin-left: 0 auto;
        justify-content: space-around;
        flex-direction: column-reverse;
        display: flex;
      }

		    .project2-image{
		max-width: 100%;
		}

		  .project1-image{
			max-width: 100%;
		}

  @media screen and (max-width:425px) {
    .button {
      width: 100%;
  }
}
